.additional-content-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DCDBD7;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }


.additional-content-page-container body{
    overflow-y: scroll;
}

  
.additional-content-page-container h1 {
    margin-bottom: 2rem;

  }
  
  .additional-content-page-container .content-grid {
    display: flex;
    gap: 1rem;

  }
  
  .additional-content-page-container .content-item {
    background-color: #DCDBD7cc;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .additional-content-page-container .content-item img {

    border-radius: 0.5rem;
  }
