
div.page-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}


.add-student-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0); /* Fondo transparente */
  width: 50%;
}

.add-student-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.add-student-container .form-group {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 500px;
}

.add-student-container .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.add-student-container .form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 2rem;
}

.add-student-container .error-message {
  color: red;
  margin-bottom: 1rem;
}

.add-student-container .form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  gap: 1rem; /* Agrega espacio entre los botones */
}

.add-student-container .btn {
  background-color: #5A8884;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem; /* Agranda los botones */
  cursor: pointer;
  font-size: 1.5rem; /* Agranda la fuente de los botones */
  width: 12rem;
}

.add-student-container .btn:hover {
  background-color: #49756e;
}
