* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BobbyJones', sans-serif; /* Asegura que se usa la fuente correcta */
  }
  
  body, html {
    height: 100%;
    overflow: hidden; /* Evita el scroll */
  }
  
  .page-container {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  
  .btn-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #5A8884;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1.5rem 3rem; /* Agranda el botón de volver */
    cursor: pointer;
    font-size: 2rem; /* Agranda la fuente del botón de volver */
  }
  
  .btn-back:hover {
    background-color: #49756e;
  }
  
  .create-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    background-color: rgba(245, 245, 245, 0.8); /* Fondo transparente */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem; /* Agranda la fuente del encabezado */
  }
  
  .form-group {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 500px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1rem;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    gap: 1rem; /* Agrega espacio entre los botones */
  }
  
  .btn {
    background-color: #5A8884;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem; /* Agranda los botones */
    cursor: pointer;
    font-size: 1.5rem; /* Agranda la fuente de los botones */
  }
  
  .btn:hover {
    background-color: #49756e;
  }
  