
.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100%;
}

.dashboard-container h2 {
  color: #764652;
}

.dashboard-container .top-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100%;
}

.dashboard-container .dropdown {
  position: relative;
  display: flex;
}

.dashboard-container .dropdown-content {
  display: none; /* Escondemos el contenido por defecto */
  position: absolute;
  top: 100%; /* Muestra el contenido justo debajo de la imagen de perfil */
  
  background: #764652;
  width: 100%;
  
  z-index: 1;
  font-size: 5rem;
}

.dashboard-container .dropdown:hover .dropdown-content {
  display: flex; /* Muestra el dropdown al hacer hover */
  flex-direction: column;
}

.dashboard-container .dropdown-content button {
  background-color: #764652;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  text-align: right;
  width: 100%;
}

.dashboard-container .dropdown-content button:hover {
  background-color: #633a44;
}

.dashboard-container img.btn-profile {
  width: 6rem; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 6rem; /* Ajusta el tamaño de la imagen según sea necesario */
  cursor: pointer;
  border-radius: 50%; /* Hace la imagen circular si es cuadrada */
  background-color: transparent; /* Asegura que no haya fondo por defecto */
  border: 2px solid #5A8884; /* Añade un borde para estilizar */
  position: relative;
  display: flex;
}

.dashboard-container img.btn-profile:hover, img.btn-profile:active{
  background-color: #633a44 ;
}

nav {
  background-color: rgba(232, 232, 232, 0.8); /* 0.8 es la opacidad: 1 es opaco y 0 es completamente transparente */
  margin-top: 0;
  padding: 1rem;
}

.dashboard-container nav .courseButtons{
  color: #353DD1;
  width: max-content;
}
.dashboard-container nav .courseButtons:hover{
background-color: rgba(180, 200, 255, 0.5); /* Un gris con un toque de azul */
}

nav .courseButtons.active{
  background-color: rgba(180, 200, 255, 1) !important; /* Un gris con un toque de azul */

}

.experiment-card img {
  width: 60%; /* Ocupa 1/4 del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin-left: auto;
  margin-right: auto; /* Centra la imagen en su contenedor */
}
.experiments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Asegura que haya espacio entre los modales */
  text-align: center;
}

.experiment-card {
  flex: 1 1 calc(20% - 1rem); /* En tamaños grandes, ocupan 25% del contenedor, con un margen */
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #80D6AB;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para un efecto elevado */
  transition: transform 0.3s ease;
}

.experiment-card:hover {
  transform: scale(1.05);
}

@media (max-width: 1199px) {
  .experiment-card {
    flex: 1 1 calc(30% - 1rem); /* En tamaños medianos, ocupan 50% del contenedor */
  }
}

@media (max-width: 767px) {
  .experiment-card {
    flex: 1 1 calc(30% - 1rem); /* En tamaños pequeños, ocupan 50% del contenedor */
  }
}
