
  div.page-container {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
 
  
  .delete-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    background-color: rgba(245, 245, 245, 0); /* Fondo transparente */
    width: 50%;
  }
  
  .delete-course-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  
  .delete-course-container .form-group {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 500px;
  }
  
  .delete-course-container .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .delete-course-container .form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 2rem;
  }
  
  .delete-course-container .form-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    gap: 1rem; /* Agrega espacio entre los botones */
    overflow-y: scroll;
  }
  
  .delete-course-container .btn {
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0rem 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    width: 12rem;
  }
  
  .delete-course-container .btn:hover {
    background-color: #49756e;
  }
  
  .delete-course-container .error-message {
    color: red;
    margin-bottom: 1rem;
  }
  