.delete-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
  }
  
  .delete-profile-container h2 {
    margin-bottom: 2rem;
  }
  
  .delete-profile-container  .delete-form {
    width: 100%;
    max-width: 500px; /* Ajusta el tamaño máximo del formulario */
    padding: 2rem;
    background-color: #ddd;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .delete-profile-container  .form-group {
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .delete-profile-container  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
 
  }
  
  .delete-profile-container  .form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase; /* Convertir a mayúsculas automáticamente */
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .delete-profile-container  .btn {

    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  

  .delete-profile-container .error {
    color: red;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  