
.experiment-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.experiment-page-container h1 {
  text-align: center;
  margin-bottom: 2rem;
/* Agranda la fuente del encabezado */
}

.experiment-page-container p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;

}

.experiment-page-container .quiz-buttons {
  display: flex;
  justify-content: center; /* Centra los botones */
  gap: 0.5rem; /* Aumenta el espacio entre los botones */
  margin-top: 2rem; /* Mueve los botones más abajo */
}

.experiment-page-container .btn-pre-quiz,.experiment-page-container .btn-post-quiz,.experiment-page-container .btn-additional-content {
  background-color: #5A8884;
  color: white;
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
  font-size: 1.5rem; /* Agranda la fuente de los botones */
}

.experiment-page-container .btn-post-quiz:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.experiment-page-container .btn-pre-quiz:hover,.experiment-page-container .btn-post-quiz:hover:not(:disabled),.experiment-page-container .btn-additional-content:hover {
  background-color: #49756e;
}
