
div.page-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  height: 100vh;
  width: 100vw;
}



.experiment-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 60%;
  border-radius: 5%;
  padding: 2rem;
  background-color: #f5f5f5;
}

.experiment-page-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem; /* Agranda la fuente del encabezado */
}

.experiment-page-container p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  width: 80%;
}

.experiment-page-container .quiz-buttons {
  display: flex;
  justify-content: center; /* Centra los botones */
  gap: 2rem; /* Aumenta el espacio entre los botones */
  margin-top: 2rem; /* Mueve los botones más abajo */
}

.experiment-page-container .btn-pre-quiz,.experiment-page-container .btn-new-quiz,.experiment-page-container .btn-additional-content {
  background-color: #5A8884;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem; /* Agranda los botones */
  cursor: pointer;
  font-size: 1.5rem; /* Agranda la fuente de los botones */
}

.experiment-page-container .btn-new-quiz:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.experiment-page-container .btn-pre-quiz:hover,.experiment-page-container .btn-new-quiz:hover:not(:disabled),.experiment-page-container .btn-additional-content:hover {
  background-color: #49756e;
}
