
.home-container .logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 6rem; /* Tamaño proporcional en rem */
  height: auto;
}

.home-container .title {
  font-size: 7rem;
  margin-bottom: 1rem;
}

.home-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.home-container .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 60%;
  max-width:100%;
  padding: 1rem;

}

.home-container button.btn {
  font-family: 'BobbyJones', sans-serif;
  background: #5A8884;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2.5rem;
  width: 100%;
  height: 5rem;
  max-width: 50%; /* Máximo ancho de los botones */
}

.home-container button.btn:hover {
  background: #49756e;
}
