.home-container .logo {
  width: 6rem; /* Tamaño proporcional en rem */
  height: auto;
}

.home-container .title {
  font-size: 7rem;
  margin-bottom: 1rem;
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.home-container .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Hacemos que tome todo el ancho disponible */
  max-width: 100%;
  padding: 1rem;
  
}

.home-container button.btn {
  font-family: 'BobbyJones', sans-serif;
  background: #5A8884;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2.5rem;
  width: 100%; /* Ancho completo del botón */
  max-width: 20rem; /* Máximo ancho de los botones */
}

.home-container button.btn:hover {
  background: #49756e;
}
