.home-container .logo {
  height: auto;
}

.home-container .title {
  margin-bottom: 1rem;
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.home-container .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Hacemos que tome todo el ancho disponible */
  padding: 1rem;
  
}

.home-container .btn {

  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.8rem;
}
/* Fade-in para la navbar y el título */
/* Fade-in rápido para la navbar (0.1s) */
.fade-fast-enter {
  opacity: 0;
}
.fade-fast-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}
.fade-fast-exit {
  opacity: 1;
}
.fade-fast-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

/* Fade-in normal para el resto del contenido (0.5s) */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

