
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 600px; /* Ajusta este valor según sea necesario */
  text-align: start;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.login-container form.form-login {
  width: 100%;
  max-width: 500px; /* Ajusta el tamaño máximo del formulario */
  padding: 2rem;
  background-color: #ddd;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .form-login .form-group {
  width: 100%;
  margin-bottom: 1rem;
}

.login-container .form-login .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.login-container .form-login .form-group input[type="text"],
.login-container .form-login .form-group input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 2rem;
}

.login-container .form-login .form-group input[type="text"] {
  text-transform: uppercase; /* Mostrar texto en mayúsculas */
}

.login-container button.btn {
  background-color: #5A8884;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.login-container button.btn:hover {
  background-color: #49756e;
}

.login-container .error {
  color: red;
  margin-top: 1rem;
}
