.page-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    max-width: 15rem;
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  button.btn {
    width: 100%;
    padding: 1rem;
    background-color: #5A8884;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  button.btn:hover {
    background-color: #49756e;
  }
  
  button.btn-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #5A8884;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button.btn-back:hover {
    background-color: #49756e;
  }
  
  .error {
    color: red;
    margin-top: 1rem;
  }
  