
  
  .modify-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }
  
  .modify-course-container h1 {
    text-align: center;
    margin-bottom: 2rem;

  }
  
  .modify-course-container .form-group {
    margin-bottom: 1rem;
    justify-self:center;
    position: relative;
  }
  
  .modify-course-container .form-group label {

    margin-bottom: 0.5rem;

    text-align: center;
  }
  
  .modify-course-container .form-group {
    align-items: center; 
    border-radius: 0.25rem;
    font-size: 2rem;
    text-align: center;
  }
  
  
  .modify-course-container .course-buttons {
    display: flex;

  }
  
  .modify-course-container .btn {

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
    font-size: 1.5rem;

  }

  
  .modify-course-container .error-message {
    color: red;
    margin-bottom: 1rem;
  }
  
  .btn-remove{
    background-color: #936570 !important;

  }
  .btn-remove:hover{
    background-color: #D29EAA !important;

  }