* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BobbyJones', sans-serif;
}

.profile-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0); /* Fondo transparente */
}

.btn-back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #5A8884;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}


.btn-back:hover {
  background-color: #49756e;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-item {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center; /* Centramos el texto */
}

.username.professor {
  font-size: 4rem; /* Aumentamos el tamaño para profesores */
  font-weight: bold;
  text-align: center;
}

.profile-buttons {
  display: flex;
  justify-content: center; /* Centramos los botones */
  gap: 2rem; /* Espacio entre los botones */
}

.btn-edit, .btn-delete {
  background-color: #5A8884;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-edit:hover, .btn-delete:hover {
  background-color: #49756e;
}
