.progress-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .progress-details-container {
    background-color: #ddd;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
  }
  
  .progress-details-container .progress-bar {
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem 0;
    width: 100%;
    height: 2rem;
  }
  
  .progress-details-container .progress {
    height: 100%;
    background-color: #5A8884;
    width: 0;
    transition: width 0.5s ease-in-out;
  }
  
  .progress-page-container  .table {
    width: 100%;
    margin-top: 1rem;
  }
  .progress-page-container    .table th{
    color: black;
  }

  .progress-page-container    .table th, .table td {
    text-align: center;
  }
  
  .progress-page-container    .table .first-column {
    color:black;
  }
  .progress-page-container    .table  .completed {
    background-color: #d4edda; /* Verde claro para completado */
    color: #155724; /* Texto verde oscuro */
  }
  
  .progress-page-container    .table  .not-completed {
    background-color: #f8d7da; /* Rojo claro para no completado */
    color: #721c24; /* Texto rojo oscuro */
  }
  .progress-page-container    .table-responsive {
    width: 100%;
    overflow-x: auto; /* Permite el scroll horizontal */
}

.status-image-progress{
  width: 30% !important;
}