
  .quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  
  .quiz h1 {
    text-align: center;
    margin-bottom: 2rem;

  }
  
  .quiz .question-container {
    margin-bottom: 2rem;
  }
  
  .quiz .options-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .quiz .quiz-label {
    width: 100%;
    color: #3D242A;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem;
    cursor: pointer;
  }
  
  .quiz .quiz-label input[type="radio"] {
    margin-right: 0.5rem;
  }
  
  .quiz .quiz-label input[type="radio"]:checked + label {
    background-color: #5A8884cc;
    color: #3D242A;
  }
  
  .quiz .quiz-submit {
    background-color: #5A8884;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .quiz .quiz-submit:hover {
    background-color: #49756e;
  }
  

  .result-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
  }
  
  .result-popup h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .result-popup p {
    font-size: 1.5rem;
  }
  
  .result-popup button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background-color: #5A8884;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
  }
  

  .quiz .quiz-submit:disabled {
    background-color: #5a888544;
    transition: transform 0.6s ease, background-color 0.6s ease;
    cursor: not-allowed; 
    color:white;
    
  }