
  
  .teacher-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }
  
  .teacher-progress-container h1 {
    text-align: center;
    margin-bottom: 2rem;

  }
  
  .teacher-progress-container .form-group {
    margin-bottom: 1rem;
    justify-self:center;
    position: relative;
  }
  
  .teacher-progress-container .form-group label {

    margin-bottom: 0.5rem;

    text-align: center;
  }
  
  .teacher-progress-container .form-group {
    align-items: center; 
    border-radius: 0.25rem;
    font-size: 2rem;
    text-align: center;
  }
  
  
  .teacher-progress-container .course-buttons {
    display: flex;

  }
  
  .teacher-progress-container .btn {

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
    font-size: 1.5rem;

  }

  .teacher-progress-container .error-message {
    color: red;
    margin-bottom: 1rem;
  }
  