.App {
  font-family: 'BobbyJones', sans-serif;

  color: #764652FF;
}

@font-face {
  font-family: 'BobbyJones';
  src: url('./fonts/BobbyJonesSoft.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}
*{
  font-family: 'BobbyJones', sans-serif;
}

.page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;

}

body {
  color: #ffffff;
  background: url('./media/canva.png') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 1rem;
  padding: 1rem;
  height: 100%;
}


.btn-back {
  background-color: #5A8884;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.btn-back:hover, .btn:hover {
  background-color: #49756e;
  color:white;  
}
