.App {
  font-family: 'BobbyJones', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  
}


.btn-back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #5A8884;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.btn-back:hover {
  background-color: #49756e;
}
