@font-face {
  font-family: 'BobbyJones';
  src: url('./fonts/BobbyJonesSoft.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'BobbyJones', sans-serif;
}
body {

  color: #764652FF;
  background: url('./media/canva.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;

}
