body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}



/* Estilos de la Navbar */
.navbar {
  display: flex;
  color: #000000;
  justify-content: space-between;
  align-items: center;
  background-color: #74A29F;
  padding: 0 50px;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  
}

.navbar-logo img {
  max-height: 80px;
  object-fit: contain; 
  height: 100%;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: 80px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 15px;
  
}

.navbar-links a:hover {
  color: #dddddd;
}

/* Sección 1: Texto a la izquierda, imagen a la derecha */


.image-content {
  flex: 1;
  display: flex;
  justify-content: right;
}

.image-content img {
  max-width: 400px;
  height: auto;
  margin-left: 900px;
  margin-top: -100px; /* Espacio entre el texto y la imagen */
}

/* Estilos de las Secciones */
.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 80px; /* Ajustado para coincidir con la altura de la navbar */
}

/* Sección 1: Fondo con gradiente */
.section-1 {
  background: linear-gradient(to bottom, #D29EAA, #E7D691); /* Degradado de la sección 1 a la sección 2 */
  color: white;
}

/* Sección 2: Fondo con gradiente */
.section-2 {
  background: linear-gradient(to bottom, #E7D691, #AED18D); /* Degradado de la sección 2 a la sección 3 */
}

/* Sección 3: Fondo con gradiente */
.section-3 {
  background: linear-gradient(to bottom, #AED18D, #DCDBD7); /* Degradado de la sección 3 a la sección 4 */
}

/* Sección 4: Color sólido al final */
.section-4 {
  background-color: #DCDBD7; /* Última sección sin degradado hacia abajo */
}

/* Estilos comunes para los textos */
.section h1 {
  margin: 10px 0;
  color: #764652;
  font-size: 4rem;
}

.section p {
  max-width: 600px;
  color: white;
}

.section h1 {
  margin: 10px 0;
  color: #764652;
  font-size: 4rem;
}

.section h2 {
  margin: 10px 0;
  color: #764652;
  font-size: 2rem;
}

.section h3 {
  margin: 10px 0;
  color: #764652;
  font-size: 1rem;
}

.section p {
  max-width: 600px;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: #ffd700;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ffcc00;
}

/* Footer */
footer {
  background-color: #74A29F;
  color: black;
  padding: 20px;
}


/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
    height: 60px;
  }

  .navbar-logo img {
    height: 100%;
    max-height: 60px;
  }

  .navbar-links {
    gap: 15px;
    margin-right: 40px;
  }

  .navbar-links a {
    font-size: 16px;
    padding: 8px 10px;
  }


  .content {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .image-content img {
    max-width: 300px;
    margin-left: 0;
  }
}
